<div class="jumbotron">
  <h1>{{cv.Identification.PersonName.Surname}} {{cv.Identification.PersonName.FirstName}}</h1>
  <p class="lead">
    {{cv.Headline.Description.Label}}
  </p>
</div>

<div class="row education">
  <h4>Education</h4>
  <ul ng-repeat="education in cv.EducationList.Education">
    <li>
      <h5>{{education.Title}}</h5>
      <div>at: <span>at {{education.Organisation.Name}}</div>
      <div>
        <span ng-show="education.Period.Current=='false'">between {{education.Period.From._year}} and {{education.Period.To._year}}</span>
        <span ng-hide="education.Period.Current=='false'">from {{education.Period.From._year}}</span>
      </div>
    </li>
  </ul>
</div>
